/* Inter Font Faces */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  src: url("./assets/fonts/inter/Inter_18pt-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 100;
  src: url("./assets/fonts/inter/Inter_18pt-ExtraLightItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  src: url("./assets/fonts/inter/Inter_18pt-Light.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 200;
  src: url("./assets/fonts/inter/Inter_18pt-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/inter/Inter_18pt-Light.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 300;
  src: url("./assets/fonts/inter/Inter_18pt-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/inter/Inter_18pt-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 400;
  src: url("./assets/fonts/inter/Inter_18pt-Italic.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/inter/Inter_18pt-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 500;
  src: url("./assets/fonts/inter/Inter_18pt-MediumItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/inter/Inter_18pt-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 600;
  src: url("./assets/fonts/inter/Inter_18pt-SemiBoldItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/inter/Inter_18pt-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 700;
  src: url("./assets/fonts/inter/Inter_18pt-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/inter/Inter_18pt-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 800;
  src: url("./assets/fonts/inter/Inter_18pt-ExtraBoldItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/inter/Inter_18pt-Black.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 900;
  src: url("./assets/fonts/inter/Inter_18pt-BlackItalic.ttf") format("truetype");
}

/* Roboto Font Faces */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  src: url("./assets/fonts/roboto/Roboto-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 100;
  src: url("./assets/fonts/roboto/Roboto-ExtraLightItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  src: url("./assets/fonts/roboto/Roboto-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  src: url("./assets/fonts/roboto/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  src: url("./assets/fonts/roboto/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/roboto/Roboto-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 600;
  src: url("./assets/fonts/roboto/Roboto-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  src: url("./assets/fonts/roboto/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/roboto/Roboto-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 800;
  src: url("./assets/fonts/roboto/Roboto-ExtraBoldItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/roboto/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 900;
  src: url("./assets/fonts/roboto/Roboto-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 100;
  src: url("/fonts/roboto/Roboto-ThinItalic.ttf") format("truetype");
}

/* Roboto Condensed Font Faces */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 100;
  src: url("./assets/fonts/roboto/Roboto_Condensed-ExtraLight.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 100;
  src: url("./assets/fonts/roboto/Roboto_Condensed-ExtraLightItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/roboto/Roboto_Condensed-Light.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 300;
  src: url("./assets/fonts/roboto/Roboto_Condensed-LightItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/roboto/Roboto_Condensed-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 400;
  src: url("./assets/fonts/roboto/Roboto_Condensed-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/roboto/Roboto_Condensed-Medium.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 500;
  src: url("./assets/fonts/roboto/Roboto_Condensed-MediumItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/roboto/Roboto_Condensed-SemiBold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 600;
  src: url("./assets/fonts/roboto/Roboto_Condensed-SemiBoldItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/roboto/Roboto_Condensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 700;
  src: url("./assets/fonts/roboto/Roboto_Condensed-BoldItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/roboto/Roboto_Condensed-ExtraBold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 800;
  src: url("./assets/fonts/roboto/Roboto_Condensed-ExtraBoldItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/roboto/Roboto_Condensed-Black.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 900;
  src: url("./assets/fonts/roboto/Roboto_Condensed-BlackItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 100;
  src: url("./assets/fonts/roboto/Roboto_Condensed-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 100;
  src: url("./assets/fonts/roboto/Roboto_Condensed-ThinItalic.ttf")
    format("truetype");
}

/* Roboto SemiCondensed Font Faces */
@font-face {
  font-family: "Roboto SemiCondensed";
  font-style: normal;
  font-weight: 100;
  src: url("./assets/fonts/roboto/Roboto_SemiCondensed-ExtraLight.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto SemiCondensed";
  font-style: italic;
  font-weight: 100;
  src: url("./assets/fonts/roboto/Roboto_SemiCondensed-ExtraLightItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto SemiCondensed";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/roboto/Roboto_SemiCondensed-Light.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto SemiCondensed";
  font-style: italic;
  font-weight: 300;
  src: url("./assets/fonts/roboto/Roboto_SemiCondensed-LightItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto SemiCondensed";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/roboto/Roboto_SemiCondensed-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto SemiCondensed";
  font-style: italic;
  font-weight: 400;
  src: url("./assets/fonts/roboto/Roboto_SemiCondensed-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto SemiCondensed";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/roboto/Roboto_SemiCondensed-Medium.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto SemiCondensed";
  font-style: italic;
  font-weight: 500;
  src: url("./assets/fonts/roboto/Roboto_SemiCondensed-MediumItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto SemiCondensed";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/roboto/Roboto_SemiCondensed-SemiBold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto SemiCondensed";
  font-style: italic;
  font-weight: 600;
  src: url("./assets/fonts/roboto/Roboto_SemiCondensed-SemiBoldItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto SemiCondensed";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/roboto/Roboto_SemiCondensed-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto SemiCondensed";
  font-style: italic;
  font-weight: 700;
  src: url("./assets/fonts/roboto/Roboto_SemiCondensed-BoldItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto SemiCondensed";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/roboto/Roboto_SemiCondensed-ExtraBold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto SemiCondensed";
  font-style: italic;
  font-weight: 800;
  src: url("./assets/fonts/roboto/Roboto_SemiCondensed-ExtraBoldItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto SemiCondensed";
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/roboto/Roboto_SemiCondensed-Black.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto SemiCondensed";
  font-style: italic;
  font-weight: 900;
  src: url("./assets/fonts/roboto/Roboto_SemiCondensed-BlackItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto SemiCondensed";
  font-style: normal;
  font-weight: 100;
  src: url("./assets/fonts/roboto/Roboto_SemiCondensed-Thin.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto SemiCondensed";
  font-style: italic;
  font-weight: 100;
  src: url("./assets/fonts/roboto/Roboto_SemiCondensed-ThinItalic.ttf")
    format("truetype");
}

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

@layer base {
  :root {
    @apply font-inter;
  }
}
